@model IEnumerable<CDT.Repo.View_Model.ComponentVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}<br />
<br />
<br />
<script src="~/Scripts/jquery-1.10.2.js"></script>

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
           <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @foreach (var item in Model)
                {
                    <li class="component text-center" id=@item.Id title="@item.Component1"><a>@item.Component1<span style="font-size:16px;"></span></a></li>
                }
            </ul>
        </div>

    </div>
</nav>
<div id="dvLoading" style="display:none"></div>
<div id="divMain">
</div>




@functions{

}
<style type="text/css">
    #dvLoading {
        background: url(../Images/loading.gif) no-repeat center center;
        height: 300px;
        width: 300px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -25px;
        /*opacity: 2px;*/
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.component').click(function () {
            var id = $(this).attr('id');
            var name = $(this).attr('title');
            $("#dvLoading").show();
            var tempurl = window.location.protocol + "//" + window.location.hostname +
                (window.location.port ? ':' + window.location.port : '') + window.location.pathname + "/" + name;
            tempurl = tempurl.replace('/Index', '');
            $.ajax({
                url: tempurl,
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $("#dvLoading").hide();
                    $("#divMain").html(result);
                }
            });

        });


     

       

    });

</script>